* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", serif;
}
:root {
  /* Colors */
  --backgroundColor: #FFFFFF;
  --secondaryColor: #F2F2F2;
  --textColor: #000000;
  --menuTextColor: #FFFFFF;
  --accentColor: #00a2ed;
}

body {
  background-color: var(--backgroundColor);
  width: 70%;
  min-width: 600px;
  margin: auto;
}

b {
  font-weight: 700;
}

a {
  color: var(--textColor);
  text-decoration: none;
  transition-duration: 0.2s;
}

a:hover, a:active{
  color: var(--accentColor);
}

.Header {
  font-family: "Montserrat", serif;
  display: inline-block;
  padding: 40px 0px 40px 0px;

}

name {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 35px;
  color: var(--textColor);
  display: block;
}

nameTitle {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--textColor);
  display: block;
}

contanct {
  font-family: "Montserrat", serif;
  font-weight: 700;
  color: var(--textColor);
  display: block;
}

.Section {
  margin-bottom: 60px;
  /* border: 1px solid black */
}

sectionTitle {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  color: var(--textColor);
  display: block;
  position: relative;
  overflow: hidden;
  text-align: left;
  margin-bottom: 15px;
}

sectionTitle:after {
  display: inline-block;
  content: "";
  height: 4px;
  font-weight: 700;
  background: var(--textColor);
  position: absolute;
  width: 100%;
  transition-duration: 0.5s;
  top: 73%;
  margin-top: -2px;
  margin-left: 10px;
}

sectionTitle:hover:after {
  width: 70%;
}

.Item {
  margin-top: 10px;
  margin-bottom: 18px;
}


itemTitle {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  /* text-transform: uppercase; */
  text-align: left;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
  color: var(--textColor);
  display: inline-block;
  width: 70%;
}

itemDate {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-style: italic;
  text-align: right;
  font-weight: 400;
  font-size: 13px;
  color: var(--textColor);
  display: inline-block;
  width: 29%;
}

description {
  font-family: "Montserrat", serif;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  color: var(--textColor);
  display: block;
  width: 100%
}

.Icon {
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  filter: grayscale(100%);
  transition-duration: 0.15s;
}

.Icon:hover{
  filter: grayscale(0%);
  transition-duration: 0.15s;
  cursor: pointer;
}

.Icon--active {
  filter: grayscale(0%);
  transition-duration: 0.2s;
  margin-left: 11px;
  margin-right: 9px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Content {
  height: 40px;
  width: 100px;
  margin: 5px 0 ;
  display: inline-block;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.IconDiv {
  height: 50px;
  width: 50px;
  overflow: hidden;
  display: inline-block;
  transition: 0.2s ease-out;
}

.IconDiv--active{
  width: 160px;
  background-color: #f8f8f8;
  transition: 0.2s ease-out;
  border-radius: 25px;
}

.meter { 
	height: 10px;
	position: relative;
  background: #ddd;
	border-radius: 5px;
  padding: 0px;
	/* box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3); */
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 5px;
  background-color: var(--accentColor); /*rgb(43,194,83);*/
  position: relative;
  overflow: hidden;
}

.Content p {
  display: block;
  font-size: 12px;
  margin: 0 auto;
}

.half-box {
  width: 49%;
  flex: 1;
  /* padding: 1%; */
  /* border: 1px black solid; */
  display: inline-block;
}

.skill {
  /* border: 1px black solid; */
  display: inline-block;
  position: relative;
  margin: 5px;
}

.ring-svg {
  /* border: 1px green solid; */
  width: 150px;
  height: 150px;
  z-index:1;
}

.ring {
  cx: 50%;
  cy: 50%;
  r: calc(50% - 12px);
  stroke: var(--accentColor);
  fill: transparent;
  stroke-width: 12px;

  transition: stroke-dashoffset 0.35s;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  position: relative;

  display: inline-block;
  stroke-linecap: round;
}


.inner-text {
  transition: 0.15s;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  width: 100%;
  /* border: 1px blue solid; */
  position: absolute;
  z-index:10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-text-hover {
  transition: 0.2s;
  font-size: 11px;
  width: 70%;
  cursor: pointer;
}

.skill .details {
  width: 100%;
  background-color: #F2F2F2;
}